.navbar-collapse {
    display: flex;
    flex-direction: column-reverse;
    align-items: normal !important;
}

.navbar-brand {
    text-transform: uppercase;
}

.form-control {
    background-color: white !important;
    color: black !important;
}

#list-group {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 10px 0;

    transform: translate(-50%, -50%);
}

p {
    background-color: #d3d3d320;
    text-align: justify;
    padding: .65em;
    height: fit-content;
}


@media screen and (min-width: 768px) {
    #list-group {
        top: 320px;
        margin: 28px 0;

        & ul {
            width: 75%;
            margin: 0 auto;
        }
    }
}


@media screen and (min-width: 992px) {
    .navbar-collapse {
        display: flex;
        flex-direction: row;
        align-items: center !important;

    }

    #list-group {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        margin: 0;
    }
}